html{
    width: 60em;
    margin: auto;
}
h1{
    color:white;
    background-color: cornflowerblue;
    border:2px solid darkcyan;
    text-align: center;
    text-decoration: underline;
}
h2{
    background-color: lightskyblue;
    color: white;
}
h3{
    background-color: lightblue;
    color: white;
}
img 
{
  width: 300px;  height: 200px;
}

li{
    
    font-weight: 20px;
}
ul{
    font-size: 20px; 
}
p{
    padding: 2px;
}
