html{
    width: 60em;
    margin: auto;
}
h1{
    color:white;
    background-color: orangered;
    border:wheat;
    text-align: center;
}
h2{
    background-color: orange;
    color: white;
}
h3{
    background-color: peru;
    color: white;
}
